<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:batch="http://www.springframework.org/schema/batch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 
 	<!-- Config BD  -->
    <import resource="classpath:context-datasource.xml"/>
 
    <!-- JobRepository and JobLauncher are configuration/setup classes  -->
    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean" />
 
    <bean id="jobLauncher"   class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
    </bean>
 
    <!-- ItemReader which reads data from XML file -->
    <bean id="skippedLinesCallback" class="com.gb.tosca.si_carriere.batch.sngc.SkippableItemReader" />
    <bean id="mirReader" class="com.gb.tosca.si_carriere.batch.sngc.SngcFileItemReader" scope="step">
	    <property name="resource" value="file:#{jobParameters['inputFileName']}" />
	    <property name="lineMapper" ref="patternMatchingMapper" />
	    <property name="linesToSkip" value="1" />
	    <property name="skippedLinesCallback" ref="skippedLinesCallback" />
	</bean>
	
	<bean id="patternMatchingMapper" class="org.springframework.batch.item.file.mapping.PatternMatchingCompositeLineMapper">
        <property name="tokenizers">
            <map>
                <entry key="MIR????????????????????????????????????????????TRIM*" value-ref="mirTrimFixedLengthTokenizer" />
                <entry key="MIR????????????????????????????????????????????TRGL*" value-ref="mirTrglFixedLengthTokenizer" />
                <entry key="MIR*" value-ref="mirErrFixedLengthTokenizer" />
                <entry key="*" value-ref="nonMirTokenizer" />
            </map>
        </property>
        <property name="fieldSetMappers">
            <map>
                <entry key="MIR????????????????????????????????????????????TRIM*" value-ref="mirTrimMapper" />
                <entry key="MIR????????????????????????????????????????????TRGL*" value-ref="mirTrglMapper" />
                <entry key="MIR*" value-ref="mirErrMapper" />
                <entry key="*" value-ref="nonMirMapper" />
            </map>
        </property>
    </bean>
	
	<bean id="mirTrimFixedLengthTokenizer" class="org.springframework.batch.item.file.transform.FixedLengthTokenizer" >
		<property name="names" value="typeEnregistrement, typeIdAssure, numSecuriteSociale, nomAssure, codeFonction, codeMaj, anneeValidite, codeNatureTrim, nombreUniteValide, codeRegime, numOrganismeOrigineDeclarant, dateOrigineDeclaration, typeUnitesValidees, typeTitreEchange, codeReponse, numCotisantPartenaire, prenom, codeAnomalie, ligneTotal" />
		<property name="columns" value="1-3, 4-4, 5-17, 18-47, 48-51, 52-52, 53-56, 57-58, 59-60, 61-65, 66-69, 70-77, 78-78, 79-80, 92-92, 93-108, 109-118, 121-140, 1-140" />
	</bean>
	<bean id="mirTrglFixedLengthTokenizer" class="org.springframework.batch.item.file.transform.FixedLengthTokenizer"  >
		<property name="names" value="typeEnregistrement, typeIdAssure, numSecuriteSociale, nomAssure, codeFonction, codeMaj, codeNatureTrim, nombreUniteValide, codeRegime, numOrganismeOrigineDeclarant, dateOrigineDeclaration, typeUnitesValidees, typeTitreEchange, codeReponse, numCotisantPartenaire, prenom, codeAnomalie, ligneTotal" />
		<property name="columns" value="1-3, 4-4, 5-17, 18-47, 48-51, 52-52, 53-54, 55-56, 57-61, 62-65, 66-73, 74-74, 75-76, 92-92, 93-108, 109-118, 121-140, 1-140" />
	</bean>
	<bean id="mirErrFixedLengthTokenizer" class="org.springframework.batch.item.file.transform.FixedLengthTokenizer"  >
		<property name="names" value="ligneTotal" />
		<property name="columns" value="1-140" />
	</bean>
	<bean id="nonMirTokenizer" class="org.springframework.batch.item.file.transform.FixedLengthTokenizer"  >
		<property name="names" value="ligneTotal" />
		<property name="columns" value="1-140" />
	</bean>

	<bean id="mirTrimMapper" class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper" >
		<property name="targetType" value="com.gb.tosca.si_carriere.batch.sngc.model.sngc.SngcMirTrim" />
	</bean>
	<bean id="mirTrglMapper" class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper" >
		<property name="targetType" value="com.gb.tosca.si_carriere.batch.sngc.model.sngc.SngcMirTrgl" />
	</bean>
	<bean id="mirErrMapper" class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper" >
		<property name="targetType" value="com.gb.tosca.si_carriere.batch.sngc.model.sngc.SngcMirErr" />
	</bean>
	<bean id="nonMirMapper" class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper" >
		<property name="targetType" value="com.gb.tosca.si_carriere.batch.sngc.model.sngc.SngcNonMir" />
	</bean>
 
    <!-- ItemWriter which writes data to database -->
    <bean id="mirJdbcWriter" class="com.gb.tosca.si_carriere.batch.sngc.JdbcWriter" >
	    <property name="jdbcTemplate" ref="idJdbcTemplate" />
	</bean>
	<bean id="idJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
		<property name="dataSource" ref="idDataSource" />
	</bean>
 
    <!-- Optional ItemProcessor to perform business logic/filtering on the input records -->
    <bean id="mirProcessor" class="com.gb.tosca.si_carriere.batch.sngc.Processor" />
 
    <!-- Optional JobExecutionListener to perform business logic before and after the job -->
    <!-- <bean id="jobListener" class="com.websystique.springbatch.ExamResultJobListener" /> -->
 
    <!-- Step will need a transaction manager -->
    <bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />
 
 	<bean id="readerlistner" class="com.gb.tosca.si_carriere.batch.sngc.SngcItemReaderListener" />
    <!-- Actual Job -->
    <job id="importMir" xmlns="http://www.springframework.org/schema/batch">
	    <step id="readWriteMir">
	        <tasklet>
			    <listeners>
					<listener ref="readerlistner" />
				</listeners>
	            <chunk reader="mirReader" writer="mirJdbcWriter" processor="mirProcessor" commit-interval="800" skip-limit="100000000">
		            <skippable-exception-classes>
			            <batch:include class="org.springframework.batch.item.file.FlatFileParseException"/>
			        </skippable-exception-classes>
		        </chunk>
	        </tasklet>
	    </step>
	</job>
</beans>